@import "tailwindcss";
*{
    box-sizing: border-box;
}
html , body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.slidebar-menu{
    transform: translateX(150%);
    transition: transform 0.3s ease;
}
.slidebar-menu.openSlide{
    transform: translateX(0);
}
.myPhoto.removeBorder{
    border: none;
}
.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.libre-baskerville-uniquifier{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.headline-info{
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 700;
}
.project-showcase-text{
    font-family: "Wendy One", sans-serif;
}
/* .skill{
    font-family: "Chelsea Market";
} */
.skill:hover {
box-shadow: 2px 1px 10px rgb(255, 230, 0);
}
.pro-text{
    font-family: "Chelsea Market";
}
.skill{
    font-weight: 600;
}
@media (max-width: 240px){
    .project-showcase-text{
        font-size: small;
    }
    .project-section-for-responsivens{
        padding:3rem;
    }
    .skillShowcase{
        margin-top: 0;
    }
    .pro-text{
        font-size: small;
    }
}
@media (min-width: 640px){
    .slidebar-menu{
        display: none;
    }
}